body {
  position: relative;
  overflow-x: hidden;
}

.sidebar {
  background-color: black;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all .3s ease-out;
  width: 300px;
}

.sidebar-left {
  left: -300px;
}

.sidebar-left.active {
  left: 0;
}

.sidebar-right {
  right: -300px;
}

.sidebar-right.active {
  right: 0;
}