.throbber-overlay {
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.throbber-overlay img {
  height: 128px;
  left: 50%;
  margin-left: -64px;
  margin-top: -64px;
  position: absolute;
  top: 40%;
  width: 128px;
}

.throbber-overlay.animation {
  opacity: 0;
  visibility: hidden;
  animation: fadeInOut 1s;
  -webkit-animation: fadeInOut 1s;
}

.throbber-overlay.initial {
  visibility: hidden;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    visibility: visible;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
    visibility: visible;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
