<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>lemming</display-name>
    <servlet>
        <servlet-name>lemming</servlet-name>
        <servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>lemming.WebApplication</param-value>
        </init-param>
        <init-param>
            <param-name>wicket.configuration</param-name>
            <param-value>${wicket.configuration}</param-value>
        </init-param>
        <init-param>
            <param-name>wicket.contentType</param-name>
            <param-value>${wicket.contentType}</param-value>
        </init-param>
        <init-param>
            <param-name>wicket.stripWicketTags</param-name>
            <param-value>${wicket.stripWicketTags}</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>10485760</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>lemming</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>WicketFilter</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>lemming.WebApplication</param-value>
        </init-param>
        <init-param>
            <param-name>wicket.configuration</param-name>
            <param-value>${wicket.configuration}</param-value>
        </init-param>
        <init-param>
            <param-name>wicket.contentType</param-name>
            <param-value>${wicket.contentType}</param-value>
        </init-param>
        <init-param>
            <param-name>wicket.stripWicketTags</param-name>
            <param-value>${wicket.stripWicketTags}</param-value>
        </init-param>
        <init-param>
            <param-name>ignorePaths</param-name>
            <param-value>api/</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>WicketFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>WicketSessionFilter</filter-name>
        <filter-class>org.apache.wicket.protocol.http.servlet.WicketSessionFilter</filter-class>
        <init-param>
            <param-name>filterName</param-name>
            <param-value>WicketFilter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>WicketSessionFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>lemming.data.EntityManagerListener</listener-class>
    </listener>
    <listener>
        <listener-class>lemming.data.JsonDataListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>lemming.Application</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
</web-app>
